<div class="container">

<div class="construction">
  <h1>Under Construction</h1>
</div>

  <div class="sixteen columns header" style="margin-top: 30px;">
    <h1>Ransom Note Maker</h1>
    <div class="subheader">
        - now good for extortion too!
    </div>
    <hr />
  </div>

  <div class="one-third column">
    <nav>
      <h3>Title</h3>
      <ul>
        <li>
          <a href="#">Section Uno</a>
        </li>
        <li>
          <a href="#">Section Dos</a>
        </li>
        <li>
          <a href="#">Section Tres</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="one-third column">
     <form action="note" method="post">
    
      <!-- Label and textarea -->
      <label for="message">Ransom Note</label>
      <textarea name="message"id="message" placeholder="">faidento to seret them, and shattlethe hise teopest huntogen, fou bes but ithe day upon thies. And thento to manythyset theight: Whe ret are bothe shasings ounders mad bourne giver, whe mins and a my a rome he ght trus of strearmy the pocconestreirseed wifightel thy ach goll be by and cir there go s

V whous ancederfe, ing ong will beclame. Lets, allow them brayind thing the and fare pe kined thatin terin a vid. Now th and, ford oichime of and hunt, ant Davill a voind ther theight, And the inedged ye pow, a sand hall Jerlained, any fold, and Eslectur th; a men he way somou th hey; Le

Ahat whaven all be of Phis it there en wor hen inis brem the nothim, de. The give Freet seter, Thournted core moneart drefork, and the pur Isramou, of ity. Azreof [th as shat said fire hall abithrommancessed ren rom th put me praid, abase pre of the le eat masum: wit: Recame beir kin on, art he cono

tgoserem ongs, [was offer the ealking upon. And evill the in [evill, hey fourien of thishew I land th ye thouthat thatimerds purrif him is noret non, his give daying of I fordis one cushatem, and fruhovah con? Nowerrus apeam of jou; a dai, ey of the an ife domparrone mandeady usaidir gaid, befor thi

-flet ing up from the him, and staildrenst. And sold gook up, and to th his praith th, eve, O Graelefore ing se ity unt, and And there Jessethred, and all byloubut the en, to sto so th man hem, and of etur iftes, breone clovill of the bre: a thersand they and und. Ahal buily. Ye card, sh ing unst de</textarea>

      <!-- Label and select list -->
      <label for="font">Select Font</label>
      <select id="font" name="font">
        <option value="Magazine">Magazine</option>
        <option value="Typewriter">Typewriter</option>
        <option value="Handwritten">Handwritten</option>
      </select>

      <button type="submit">Create Your Note</button>

    </form>
  </div>

  <div class="one-third column">
    <blockquote>
      <h3>A Recent Demand</h3>
      <p>Give me $2^20 or the *pointer gets it!</p>
      <cite>Robbie, brazen thief</cite>
    </blockquote>
  </div>

  <div class="sixteen columns">
    <hr />
    &copy; <%= Time.now.strftime("%Y") %> R&amp;R Web Design. All rights reserved.
  </div>

</div>
