<div class="container">

  <div class="sixteen columns" style="margin-top: 30px;">
    <h1>Ransom Note Maker</h1>
    <div class="subheader">
      subheader
    </div>
    <hr />
  </div>

  <div class="one-third column">
    <nav>
      <h3>Title</h3>
      <ul>
        <li>
          <a href="#">Section Uno</a>
        </li>
        <li>
          <a href="#">Section Dos</a>
        </li>
        <li>
          <a href="#">Section Tres</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="one-third column">
     <form action="note" method="post">
    
      <!-- Label and textarea -->
      <label for="message">Ransom Note</label>
      <textarea name="message"id="message"></textarea>

      <!-- Label and select list -->
      <label for="font">Select Font</label>
      <select id="font" name="font">
        <option value="Font 1">Font 1</option>
        <option value="Font 2">Font 2</option>
        <option value="Font 3">Font 3</option>
      </select>

      <button type="submit">Create Your Note</button>

    </form>
  </div>

  <div class="one-third column">
    <blockquote>
      <p>Give me $2^20 or the *pointer gets it!</p>
      <cite>Robbie, brazen thief</cite>
    </blockquote>
  </div>

</div>
