<div class="container">
  <form action="">
    
    <!-- Label and textarea -->
    <label for="RansomNote">Ransom Note</label>
    <textarea id="RansomNote"></textarea>

    <!-- Label and select list -->
    <label for="selectFont">Select Font</label>
    <select id="selectFont">
      <option value="Font 1">Font 1</option>
      <option value="Font 2">Font 2</option>
      <option value="Font 3">Font 3</option>
    </select>

    <button type="submit">Demand Your Ransom!</button>

  </form>
</div>