.ransom_note {
	padding: 20px;
	border: solid #ddd;
	border-width: 1px;
}
.header h1, nav h3 {
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;;
	color: #555;
	font-weight: bold;
	text-decoration: none;
}
.construction > h1 {
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #555;
	font-weight: bold;
	width: 500px;
	margin: 0 auto;
	z-index: 99;
	text-shadow: 0px 0px 5px #3ED138;
	-webkit-transform: scale(1.0) rotate(-45deg) translateX(-200px) translateY(200px);
	-webkit-transform-origin: 36% 36%;
	-moz-transform: scale(1.0) rotate(-45deg) translateX(-200px) translateY(200px);
	-moz-transform-origin: 36% 36%;
	-o-transform: scale(1.0) rotate(-45deg) translateX(-200px) translateY(200px);
	-o-transform-origin: 36% 36%;
	-ms-transform: scale(1.0) rotate(-45deg) translateX(-200px) translateY(200px);
	-ms-transform-origin: 36% 36%;
	transform: scale(1.0) rotate(-45deg) translateX(-200px) translateY(200px);
	transform-origin: 36% 36%;
}
sup {
	vertical-align: super;
	font-size: smaller;
}
/*=====================================================*/
/*        remove underline on nav bar href links       */
/*=====================================================*/
nav ul li a,
nav ul li a:visited,
nav ul li a:active  {
	font-size: 14px;
	color: #555;
	text-decoration: none;
	font-weight: bold;
}